article{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

article>div{
    width: 50%;
}
article>figure {
    width: 40%;
}

.mesCommandes{
	border-collapse: collapse;
	margin-bottom: 20px;
}

.mesCommandes td{
	padding: 10px;
	border: 1px solid black;
}